PANDAS

Pandas is apython library used for working with data sets  it has function for analyzing ,exploring and manipulating data pandas allows us to analyze big and make conclution based on statistical theories .Pandas can clean messy data sets, and make them readable and relevent
Relevent data is very important in data science

 in pandas One dimention is called 'Series' two dAimention is called 'data frame' tree diamention is 'panel'

In [ ]:
import pandas as pd

data = [3,4,5,6]

a = pd.Series(data)

print(a)

0    3
1    4
2    5
3    6
dtype: int64

In [ ]:
import pandas as pd

data = (3,4,5,6)

a = pd.Series (data)
print(a)

0    3
1    4
2    5
3    6
dtype: int64

In [ ]:
import pandas as pd
import numpy as np

data = ([3,4,5,6])

a = pd.Series (data)

print(a)

0    3
1    4
2    5
3    6
dtype: int64

In [ ]:
import pandas as pd
import numpy as np

data = np.array([[4,3,5,6],[3,2,1]])

a = pd.Series (data)

print(a)

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (2,) + inhomogeneous part.

In [ ]:
import pandas as pd

data = (3,4,5,6)

a = pd.Series (data)

print(a)
print(a.shape)
print(a.ndim)
print(a.size)
print(a.dtype)

0    3
1    4
2    5
3    6
dtype: int64
(4,)
1
4
int64

In [ ]:
import pandas as pd
import numpy as np

data = ([1,2,3,4,5])

a = pd.Series (data, index=[100,10,20,40,50])

print(a)

100    1
10     2
20     3
40     4
50     5
dtype: int64

In [ ]:
import pandas as pd

data = {'arifa':0,'beta':1,'car':2}

a = pd.Series (data)

print(a)

arifa    0
beta     1
car      2
dtype: int64

In [ ]:
import pandas as pd

data = {5:'apple',3:'bat',1:'car'}

a = pd.Series (data, index=[3,4,2,5,1])

print(a)

print(a[[1,2,3]])

3      bat
4      NaN
2      NaN
5    apple
1      car
dtype: object
1    car
2    NaN
3    bat
dtype: object

In [ ]:
import pandas as pd
import numpy as np

data = {5:'apple',3:'bat',1:'car'}

a = pd.Series (data, index=[3,4,2,5,1])

print(a)

print(a[0:3])

3      bat
4      NaN
2      NaN
5    apple
1      car
dtype: object
3    bat
4    NaN
2    NaN
dtype: object